@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
	font-family: 'Noto Sans KR', sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    text-align: center;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid gray;
}

#tr1{
	background-color: #aeaeae;
	border: 1px solid black;
}