@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	justify-content: center;
	align-items:center;
	height:100vh;
/* 	background:url("") no-repeat center; */
	background-size: cover;
}

#div1 label.warning, #div2 label.warning, #div4 label.warning{
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count: 3;
}

@keyframes warning{
	0% {transform: translateX(-8px);}
	25% {transform: translateX(8px); }
	50% {transform: translateX(-8px);}
	75% {transform: translateX(8px); }
}



.caption{
	margin-top: 20px;
	text-align: center;
}

.caption a{
	font-size: 15px; color: #999999; 
	text-decoration: none;
}