@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body {
	width: 600px;
	height: 300px;
	padding: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	height:100vh;
	background-size: cover;
	margin:auto;
}

h1 {
   margin-left: 210px;
    font-size: 1.5em;
    color:#333333;
}


section {
    padding: 50px;
    padding-top: 60px;
    padding-left: 80px;
    line-height: 2;
}


b#b1 {
    padding-left: 30px;
    font-size: 0.7em;
    letter-spacing: 0px;
   
}

b#b2 {
    color: #ffbc50;
}

section.Agree-form {
    border: 1px solid #e4e4e4;
    width: 400px;
}


    

div#div6 {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 30px;
    clear: both;
    padding-bottom: auto;
    padding-bottom: 3px;
}

#div6 button{
    height: 50px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    color: #333333;
    font-weight: bold;
    background-color:#999999;
    cursor:pointer;
}

#div6 button {
    height: 50px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    color: #333333;
    font-weight: bold;
    background-color:#999999;
    cursor:pointer;
}

input[type=submit] {
    height: 50px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    color: #333333;
    font-weight: bold;
    background-color:#999999;
    cursor:pointer;
}

div#div1 {
    border-bottom: solid 1px #999999;
}


footer {
    text-align: center;
    margin-left: 0px;
    margin-right: 90px;
    text-decoration:none;
}

a {
	font-size: small;margin: 10px;margin-bottom: 30px;
	text-decoration:none;}

footer b {
    clear: both;
    margin-top: 100px;
    font-size: small;
}

.div7 {
    margin-bottom: 20px;
}

button#Agree-detail1, button#Agree-detail2 {
    margin-right: 50px;
    float: right;
    margin-top: 5px;
    border: none;
    background-color: #e4e4e4;
}


b#b0 {
    font-size: smaller;
    font-weight: 100;
}


button#account3 {
   
    height: 50px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    color: #333333;
    font-weight: bold;
    background-color:#999999;
    cursor:pointer;
    margin-left: 100px;
    margin-top: 50px;
}

b#b0 {
    font-size: large;
}


input#S-Agree {
    margin-top: 50px;
    margin-left: 45px;
    border-radius: 25px;
    border: none;
    background: #e4e4e4;
    color: #999999;
   	text-align:center;
    font-size: 0.9em;
    font-weight: bold;
    height: 50px;
    width: 270px;
}

div#div3 {
    font-size: 13px;
    font-weight: lighter;
    margin: 30px;
    color: #999999;
}


button#account3 {
   
height: 50px;
   
width: 150px;

   
border: none;
   
border-radius: 25px;
   
color: #333333;
   
font-weight: bold;
   
background-color:#999999;
   
cursor:pointer;
   
margin-left: 100px;
margin-top: 0px;
   

}
input[type="submit"] {
    margin-left: 105px;
}

div#div2 {
    margin-left: 30px;
    margin-top: 20px;
}

input#email {
    background: #e4e4e4;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}

